<main>
  <h2 class="title">Olá, {{usuario}} 👋</h2>
  <section>
    <div  matBadge={{totalDeTarefas}} matBadgePosition="before" matBadgeColor="primary" (click)="cardSelecionado('')">
      <h2  class="container mat-elevation-z8 total">
        <mat-icon>format_list_bulleted</mat-icon>
        Total de Tarefas
        <!-- {{totalDeTarefas}} -->
      </h2>
    </div>
    <div matBadge={{totalDePendentes}} matBadgePosition="before" matBadgeColor="primary" (click)="cardSelecionado('Pendente')">
      <h2 class="container mat-elevation-z8 total pendentes">
        <mat-icon>hourglass_top</mat-icon>
        Pendentes
      </h2>
    </div>
    <div matBadge={{totalDeConcluido}} matBadgePosition="before" matBadgeColor="primary" (click)="cardSelecionado('Concluido')">
      <h2 class="container mat-elevation-z8 total concluido">
        <mat-icon>done</mat-icon>
        Concluido
      </h2>
    </div>
    <div matBadge={{totalDeAFazer}} matBadgePosition="before" matBadgeColor="primary" (click)="cardSelecionado('Fazendo')">
      <h2 class="container mat-elevation-z8 total fazendo">
        <mat-icon>schedule</mat-icon>
        Em Andamento
      </h2>
    </div>
  </section> 
  <h2 class="title" *ngIf="tarefaList.length">Minhas Tarefas:</h2>
  <div card-list-container>
    <div *ngFor="let listatarefa of tarefaList let indice = index" class="card-list">
      <mat-card class="card-body">
        <mat-card-header>
          <mat-card-subtitle>Tarefa #{{indice}}</mat-card-subtitle>
          <mat-card-title>{{listatarefa.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{listatarefa.descricao}}</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <mat-chip-listbox aria-label="Fish selection">
            <mat-chip-option color="primary" (click)="alterarSituacao(listatarefa, 'Pendente')" selected>A Fazer</mat-chip-option>
            <mat-chip-option color="accent" (click)="alterarSituacao(listatarefa, 'Fazendo')">Fazendo</mat-chip-option>
            <mat-chip-option color="warn" (click)="alterarSituacao(listatarefa, 'Concluido')">Concluido</mat-chip-option>
          </mat-chip-listbox>
        </mat-card-actions>
        <!-- <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer> -->
      </mat-card>
    </div>
  </div>
  <button (click)="openDialog()" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</main>