@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

main {
    width: 100%;
    margin: auto;
    height: 100%;
    position: relative;
}
button {
    position: absolute;
    bottom: 20px;
    right: 10px;
}
mat-expansion-panel {
    margin-bottom: 8px;
}
section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container {
    width: 250px;
    height: 100px;
    border-radius: 8px;
    margin: 8px;
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 4px;
}
.total {
    background-color: #b3c4fe;
}
.pendentes {
    background-color: #f00909b7;
    
}
.concluido {
    background-color: #36ad078f;
    
}
.fazendo {
    background-color: #fef57f;
}
.title {
    margin-bottom: 24px;
    margin-top: 24px;
    text-align: center;
}
.card-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Para distribuir os cards uniformemente em cada linha */
    width: 10%;
    gap: 10px; /* Espaçamento entre os cards */
}
.card-list {
    flex-basis: calc(33.33% - 10px); /* Defina a largura de cada card para 33,33% com um espaço de 10px entre eles */
    box-sizing: border-box; /* Certifique-se de que a largura inclua o espaço */
    margin-bottom: 15px; /* Espaçamento na parte inferior de cada card */
}
.card-body {
    background-color: white;
}

