@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

main {
    width: 600px;
    margin: auto;
    height: 100%;
    position: relative;
}
button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
mat-expansion-panel {
    margin-bottom: 8px;
}
section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container {
    width: 250px;
    height: 100px;
    border-radius: 8px;
    margin: 8px;
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 4px;
}
.total {
    background-color: #b3c4fe;
}
.pendentes {
    background-color: #f00909b7;
    
}
.concluido {
    background-color: #36ad078f;
    
}
.fazendo {
    background-color: #fef57f;
}
.title {
    margin-bottom: 24px;
    margin-top: 24px;
}