<h2 mat-dialog-title>Adicionar Tarefa</h2>

<mat-dialog-content>
    <form (ngSubmit)="adicionarTarefa()">
        <mat-form-field appearance="fill">
            <mat-label>Nome: </mat-label>
            <input matInput [(ngModel)]="novaTarefa.name" name="name" type="text" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Descrição: </mat-label>
            <input matInput [(ngModel)]="novaTarefa.descricao" name="descricao" type="text" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Adicionar tarefa</button>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button (click)="fechar()" mat-button>Fechar</button>
</mat-dialog-actions>